body {
  background-color: lightgray;
  text-align: center;
}

.grid-container {
  background-color: black;
  border: black 4px solid;
  display: flex;
  /* height: 90vh; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 1000px;
}

.grid {
	align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  position: absolute;
  margin-top: -330px;
  border: 8px solid lightgrey;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pContainer {
  background-color: black;
  color: lightgray;
  margin: 0;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid div {
	width: 55px;
	height: 55px;
  flex-grow: 1;
  position: relative;
}

.leftMask {
  background-image: url('../styles/Images/leftHalf.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rightMask {
  background-image: url('../styles/Images/rightHalf.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.virus {
  background-image: url('../styles/Images/covidVirus.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.virusDead {
  background-image: url('../styles/Images/covidVirusMeltShort.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.spray {
  background-image: url('../styles/Images/disinfectant.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sprayRight {
  background-image: url('../styles/Images/disinfRight.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sprayLeft {
  background-image: url('../styles/Images/disinfLeft.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shot {
  background-image: url('../styles/Images/disinfectant-spray.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startButton {
  background-color: lightgray;
  margin-top: -80px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.grid-container p {
  background-color: lightgray;
  margin-top: -200px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scoreText {
  margin-top: 400px;
}

.endGameDiv {
  background-color: lightgray;
  width: 500px;
  height: 500px;
  margin-top: -400px;
  position: absolute;
}

#gameOverPic {
  background-image: url(../styles/Images/game\ over.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  margin-top: 50px;
}

#youCured {
  background-image: url(../styles/Images/youCured.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  /* margin-top: 50px; */
}

#the {
  background-image: url(../styles/Images/the.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  /* margin-top: 50px; */
}

#pandemic {
  background-image: url(../styles/Images/pandemic.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  /* margin-top: 50px; */
}

@font-face {
  font-family: 'VCR OSD MONO 1';
  src: url(../styles/font/VCR_OSD_MONO_1.001.ttf);
}

#lostText {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-family: 'VCR OSD MONO 1';
  text-transform: uppercase;
  margin-top: 60px;
}