body {
  background-color: lightgray;
  text-align: center;
}


.grid-container {
  background-color: black;
  /* border: black 4px solid; */
  display: flex;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}
.grid div {
  /* background-image: url('../styles/Images/covid.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  border: 1px solid white;
  flex-grow: 1;
  height: 55px;
  width: 55px;
}

.grid div.virus {
  background-image: url('../styles/Images/covid.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.sneeze {
  background-image: url('../styles/Images/water\ squirt.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.vaccine {
  background-image: url('../styles/Images/vaccine.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.player {
  background-image: url('../styles/Images/disinfectant.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.playerLeft {
  background-image: url('../styles/Images/disinfectant-left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.playerRight {
  background-image: url('../styles/Images/disinfectant-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.shoot {
  background-image: url('../styles/Images/disinfectant-spray.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}